.about{
	padding: 60px 10px;
	border-bottom: 30px solid $pg-divider;
	// border bottom triangle
	&:after{
		content:"";
		top: 160px;
		left: 40%;
		position: relative;
		@include border-triangle($pg-divider, 60px, 40px);
	  	@media only screen and (min-width: 850px) {
	  		top: 170px;
	  		left: 46%;
			@include border-triangle($pg-divider, 70px, 50px);
	  	}
	}
	//BEM Element for .about
	&__head{
		text-align: center;
		color:$text;
		text-shadow: 0px 0px 4px $text3;
		@media only screen and (min-width: 850px) {
			margin-left: 160px;
    		text-align: left;
		}
	}
	//BEM Element for .about
	&__text{
		padding-top:20px;
		padding-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
		width: 95%;
		font-size: em(20px);
		text-shadow: 0px 0px 4px $text3;
		// reponsive layout for tablets and up
		@media only screen and (min-width: 850px) {
			padding:40px;
			width: 75%;
			font-size: em(30px);
		}
	}
}

.hyperlink{
	margin-top:25px;
	padding:10px;
	border: 2px solid $text;
	transition: all .2s linear;
}


.exampleList{
	display:flex;
  flex-direction:column;
  justify-content:center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	padding: 70px 10px;
	width: 100%;
	overflow: hidden;
	// reponsive layout for tablets and up
	@media only screen and (min-width: 850px) {
		flex-direction:row;
		flex-wrap:wrap;
	}

	//BEM Element for .exampleList
	&__item{
		margin-bottom: 20px;
		width: 100%;
		height:320px;
		border: solid 2px black;
		overflow: hidden;
		// reponsive layout for tablets and up
		@media only screen and (min-width: 850px) {
			box-sizing: border-box;
			margin-bottom: 2px;
			padding: 16px;
			max-width: 100%;
			width:45%;
		}
	}
}

.site-description{
	position: relative;
	top:-1px;
	margin-right: auto;
	margin-left: auto;
	padding:15px;
	width: 0%;
	height:170px;
	font-size: em(0px);
	background: $sitedescrip;
	visibility: hidden;
	transition: all .2s linear;
	&__info{
		padding-top: 5px;
		padding-bottom: 5px;
		width: 100%;
		color: $text;
	}
	&__link{
		padding-bottom: 3px;
		border-bottom: 1px solid white;
	}
}
