.header-container{
	padding-top: 5px;
	width:inherit;
	height:inherit;
	background:linear-gradient(black, transparent 90%),
}

.header-name{
	width:100%;
	padding-top: 30px;
	font-size: em(54px);
	text-align: center;
	font-weight: bold;
	letter-spacing: em(1px);
	vertical-align: middle;
	color:white;
	text-shadow: 3px 4px 0px $text2;
	// reponsive layout for tablets and up
	@media only screen and (min-width: 850px) {
		padding-top: 70px;
		font-size: em(90px);
		vertical-align: text-bottom;
	}
}

.navi{
	margin-top: 350px;
	text-align: center;
	// reponsive layout for tablets and up
	@media only screen and (min-width: 850px) {
		margin-top: 220px;
	}
}

.naviList{
	margin-top: 20px;
	padding-left: 0px;
  padding-right: 0px;
	width: 100%;
	//BEM element for .naviList
	&__item{
		display: inline-block;
		margin-right: 5px;
		margin-left: 5px;
		padding-right: 20px;
		padding-left:20px;
		font-size: em(16px);
		border: 2px solid $text;
		background-clip: padding-box;
		transition: all .2s linear;
		// reponsive layout for tablets and up
		@media only screen and (min-width: 850px) {
			margin-left: 30px;
			font-size: em(23px);
		}
	}
	// reponsive layout for tablets and up - for .naviList
	@media only screen and (min-width: 850px) {
		margin-top: -50px;
		padding-right: 100px;
		text-align: right;
	}
	// for large screen phones
	@media screen and (min-device-width : 375px) and (max-device-width : 667px){
		margin-top: 325px;
	}
}
