
/****************************
***** Modules Styles ********
****************************/

.header-container{
	width:inherit;
	height:inherit;
}

.header-name{
	@include make-sm-column(12);
	margin-top: 0px;
	padding-top: 30px;
	//vertical-align: middle;
	@media only screen and (min-width: 850px) { 
		@include make-sm-column(5);
		margin-top: 150px;
		padding-top: 0px;
		vertical-align: text-bottom;
		font-size: em(36px);
	}
}

.navi{
	@include make-sm-column(12);
	margin-top: 150px;
	text-align: center;
	font-size: em(25px);
	// reponsive layout for tablets and up
	@media only screen and (min-width: 850px) { 
		@include make-sm-column(7);
		margin-top: 370px;		
	}
}

.naviList{
	margin-top: -20px;
	padding-right: 0px;
	padding-left: 0px;
	background:red;
	//BEM element for .naviList
	&__item{
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	padding-left:20px;
	padding-right: 20px;
	border: 2px solid $text;
	}
}

.about{
	padding: 60px 10px;
	//margin-top: 50px;
	border-bottom: 30px solid white;
	&:after{
		content:"";
		top: 160px;
		left: 45%;
		position: relative;
	 	border-top: 60px solid white;
	 	border-left: 40px solid transparent;
	  	border-right: 40px solid transparent;
	  	@media only screen and (min-width: 850px) {
	  		top: 170px;
	  		left: 46%;
	  		border-top: 70px solid white;
		 	border-left: 50px solid transparent;
		  	border-right: 50px solid transparent;
	  	}
	}
	//BEM Element for .about
	&__head{
		text-align: center;
		@media only screen and (min-width: 850px) {
			padding-left: 50px;
			text-align: left;
		}
	}
	//BEM Element for .about
	&__text{
		padding:20px;
		margin-left: auto;
		margin-right: auto;
		width: 75%;
		font-size: em(20px);
		// reponsive layout for tablets and up
		@media only screen and (min-width: 850px) {
			padding:40px;
			font-size: em(26px);
		}
	}
}

.hyperlink{
	margin-top:25px;
	padding:10px;
	border: 2px solid $text;
}


.exampleList{
	display:flex;
  	flex-direction:column;
  	justify-content:center;
	margin-left: auto;
	margin-right: auto;
	padding: 70px 30px;
	width: 90%;
	// reponsive layout for tablets and up
	@media only screen and (min-width: 850px) {
		flex-direction:row;
		flex-wrap:wrap;
	}
	//BEM Element for .exampleList
	&__item{
		margin: 20px auto;
		width: 75%;
		height:300px;
		background:red;
		border: solid 2px black;
		// reponsive layout for tablets and up
		@media only screen and (min-width: 850px) {
			// padding-left: 15px;
			// padding-right: 15px;
			width:45%;
			background: yellow;
		}

	}
}

.foot-text{
	padding-top: 100px;
	text-align: center;
	font-size: em(20px)
}