.l-body-container{
	width:100%;
	background: $pg-background-2;
}

.l-body-examples{
	width:100%;
	background: black;
  // background:linear-gradient( black, transparent 100%),
	// 			      url("/images/headerBackground.png");
	// background-position: 0% 100%;
	// background-repeat: no-repeat;
	border-bottom: 30px solid $pg-divider;
	// border bottom triangle
	&:after{
		content:"";
		top: 100px;
		left: 40%;
		position: relative;
		@include border-triangle($pg-divider, 60px, 40px);
	  @media only screen and (min-width: 850px) {
	  	top: 110px;
	  	left: 46%;
			@include border-triangle($pg-divider, 70px, 50px);
	  }
	}
}
