
// displays site desciption when hovering over site item
.exampleList__item:hover .site-description{
	margin-top: 171px;
	width:100%;
	font-size: em(20px);
	visibility: visible;
	&__info{
		width: 100%;
	}
}
