// displays white transparent background when hovered
.hyperlink:hover{
	background:$btn-hover;
  border:2px solid $btn-hover;
}



// displays site desciption when hovering over site item
.exampleList__item:hover .site-description{
	top: -110px;
	width:100%;
	font-size: em(15px);
	visibility: visible;
	@media only screen and (min-width: 850px) {
		font-size: em(20px);
	}
}

// changes color of site desciption linls hovering
.site-description__link:hover{
	color:$text2;
	border-bottom: 1px solid $text2;
}
