
//--------------------------------
// Variables
//--------------------------------

//imports
@import url(http://fonts.googleapis.com/css?family=Lato|Oswald);

// font syles
$base-font-size: 16px;							// page base font size
$base-line-height:1.5;							// page base line height
$font1:'Oswald', sans-serif;
$font2:'Lato', sans-serif;




// colors
$pg-background: #000;							// Black
$pg-background-2: #FFD700;						// Gold
$text: #fff;					    			// White
$text2: #FFD700;								// Gold
$nav-btn-border: #000;              			// Black
$pg-divider: #fff;					    		// White
$sitedescrip: rgba(#000000, 0.8);        	    // Black Transparent
$form-background:#999900;						//Whitesmoke
$form-border:#696969; 							//dim-grey
$input-border:#FFD700;							// Gold
$input-text: #FFD700;							// Gold
$input-background: rgba(#F5F5F5, 0.5);          // White Transparent


//-------------------------------
// Functions and Mixins
//--------------------------------

// changes px to em
@function em($tar, $cxt:$base-font-size){
 @return ($tar / $cxt) * 1em;
}

// mixin to add border triangles to section dividers
@mixin border-triangle($color, $top, $side){
	border-top: $top solid $color;
	border-left: $side solid transparent;
	border-right: $side solid transparent;
}
