
//--------------------------------
// Variables
//--------------------------------

//imports

// Google fonts
@import url(http://fonts.googleapis.com/css?family=Arimo|Oswald|Francois+One);
// font syles
$base-font-size: 16px;							// page base font size
$base-line-height:1.5;							// page base line height
$font1: 'Arimo', sans-serif;
$font2: 'Oswald', sans-serif;
$font-header: 'Francois One', sans-serif;




// colors
$pg-background: #000;							  // Black
$pg-background-2:#e8c400;						// Gold
$text: #fff;					    			    // White
$text2: #FFD700;								    // Gold
$text3: #000;                       // Black
$nav-btn-border: #000;              // Black
$pg-divider: #fff;					    		// White
$sitedescrip: rgba(#000000, 0.8);   // Black Transparent
$btn-hover:rgba(#fff, 0.5);         // White Transparent



//-------------------------------
// Functions and Mixins
//--------------------------------

// changes px to em
@function em($tar, $cxt:$base-font-size){
 @return ($tar / $cxt) * 1em;
}

// mixin to add border triangles to section dividers
@mixin border-triangle($color, $top, $side){
	border-top: $top solid $color;
	border-left: $side solid transparent;
	border-right: $side solid transparent;
}
