
//--------------------------------
// Variables
//--------------------------------

// font syles
$base-font-size: 16px;				// page base font size
$base-line-height:1.5;				// page base line height

// colors
$pg-background: #000;				// Black
$pg-background-2: #FFD700;			// Gold
$text: #fff;						// White	


//--------------------------------
// Functions and Mixins
//--------------------------------

// changes px to em
@function em($tar, $cxt:$base-font-size){
 @return ($tar / $cxt) * 1em;
}

